# Your WebHook Rsa Private Key
webHookRsaPrivateKey: MIIJRQIBA*******DtGRBdennqu8g95jcrMxCUhsifVgzP6vUyg==
# path to your private key file, pem encoded.PrivateKeyPemFile priority is higher than privateKey.
webHookRsaPrivateKeyPemFile: './my_private.pem'
# Safeheron WebHook Platform Public Key, you can get it from Safeheron Web Console: https://www.safeheron.com/console.
safeheronWebHookRsaPublicKey: MIICI****QuTOTECAwEAAQ==